# Ignore all files in bin and obj folders
bin/
obj/
/.vs
/bin
/obj
/bin/Debug/net8.0/BeerApi.deps.json
/bin/Debug/net8.0/BeerApi.dll
/bin/Debug/net8.0/BeerApi.exe
/bin/Debug/net8.0/BeerApi.pdb
/obj/Debug/net8.0/ref/BeerApi.dll
/obj/Debug/net8.0/refint/BeerApi.dll
/obj/Debug/net8.0/staticwebassets/msbuild.build.BeerApi.props
/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.BeerApi.props
/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.BeerApi.props
/obj/Debug/net8.0/apphost.exe
/obj/Debug/net8.0/BeerApi.AssemblyInfo.cs
/obj/Debug/net8.0/BeerApi.AssemblyInfoInputs.cache
/obj/Debug/net8.0/BeerApi.assets.cache
/obj/Debug/net8.0/BeerApi.csproj.CoreCompileInputs.cache
/obj/BeerApi.csproj.nuget.dgspec.json
/obj/BeerApi.csproj.nuget.g.props
/obj/Debug/net8.0/BeerApi.csproj.FileListAbsolute.txt
/obj/Debug/net8.0/BeerApi.dll
/obj/Debug/net8.0/BeerApi.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net8.0/BeerApi.GlobalUsings.g.cs
/obj/Debug/net8.0/BeerApi.pdb
/obj/Debug/net8.0/staticwebassets.build.json
/obj/project.assets.json
/obj/project.nuget.cache
/obj/Debug/net8.0/BeerApi.csproj.AssemblyReference.cache
/bin/Debug/net8.0/BeerApi.runtimeconfig.json
/obj/Debug/net8.0/BeerApi.genruntimeconfig.cache
/obj/BeerApi.csproj.nuget.g.targets
/bin/Debug/net8.0/appsettings.json
